canvas {
  border: 1px solid #ccc;
  width: 100%;
  height: 200px;
  background-color: white;
}

.signature-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.signature-buttons button.btn-guardar {
  background-color: #3F51B5;
  border: none;
  color: #FFFFFF;
}

.success-message {
  color: #28a745;
  font-size: 14px;
  font-weight: 500;
}


.success-messageNull {
  color: #FBB12F;
  font-size: 14px;
  font-weight: 500;
}