<div class="signature-container">
  <div class="canvas-container">
    <canvas #canvas width="400" height="200"></canvas>
  </div>
  <div class="signature-buttons">
    <button type="button" class="btn btn-secondary" (click)="clearSignature()">
      Limpiar
    </button>
    <button type="button" class="btn btn-guardar" (click)="saveSignature()">
      Guardar
    </button>
    <span class="success-message" *ngIf="showSuccessMessage">
      Firma lista para enviar
    </span>

    <span class="success-messageNull" *ngIf="showSuccessMessageNull">
      Por favor pon tu firma antes de guardar.
    </span>
  </div>
</div>