/* distribucion-pv.component.css */
.card-header {
  transition: background-color 0.3s ease;
}

.card-header:hover {
  background-color: #f8f9fa;
}

.list-group-item {
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.list-group-item:hover {
  background-color: #d1e7dd !important;
  transform: scale(1.01);
}

.border-success {
    border: solid;
    border-radius: 4px;
    border-color: #0875425e !important;}