@media screen and (max-width: 768px) {
    .responsive-text {
        font-size: 70%;
    }

}


@media screen and (max-width: 440px) {
    .responsive-text {
        font-size: 60%;
    }

}


@media screen and (max-width: 359px) {
    .responsive-name{
        display: none;
    }

}
