.round {
  line-height: 48px;
  width: 48px;
  height: 48px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}

.round-lg {
  line-height: 56px;
  width: 56px;
  height: 56px;
  font-size: 22px;
}

.round-success {
  background: #24d2b5;
}

.round-info {
  background: #009efb;
}

.round-danger {
  background: #f62d51;
}

.round-warning {
  background: #ffbc34;
}

.table td, .table th {
  vertical-align: middle !important;
}

.bg-light-danger {
  background-color: #fdf3f4 !important;
}

.badge {
  font-weight: 500;
}
