:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}

canvas {
  touch-action: none;
}

#public-pdf-container {
  -webkit-overflow-scrolling: touch;
  user-select: none;
  touch-action: pan-x pan-y;
}

/* Custom light scrollbar for PDF container */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(241, 245, 249, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(203, 213, 225, 1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 1);
}
