.badge-pt {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #6f42c1; /* morado */
  color: white;
  font-size: 0.55rem;   /* más pequeño */
  font-weight: bold;
  padding: 1px 4px;     /* menos padding */
  border-radius: 4px;   /* esquinas suaves */
  z-index: 10;
  line-height: 1;       /* que no se estire vertical */
}
