@import "../node_modules/bootstrap/scss/bootstrap";
.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

#themecolors .selector, .cursor{
  cursor: pointer;
}


.img-avatar{
  width: 200px;
  height: auto;
  margin-bottom: 2em;
}


.w100{
  width: 100px;
}


.w140{
  width: 140px;
}


.fondo-modal-imagen{
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.oculto{
  display: none;
}


/*!* Suffix this section at the end of your styles.css for toogling between @media screen and @media print mode *!
!*############################################################################################################*!
app-print-technical-data-sheet {
  !* hide the printing component from @media screen *!
  display: none;
}

@media print {
  !* invert the display (show/hide) properties of the main *!
  !* aplication component and the printing component       *!

  html, body {
    height: 0%;
  }

  app-print-technical-data-sheet {
    display: block;
  }

  app-list-technical-sheet, app-header, app-menu, router-outlet ,app-footer, app-default {
    display: none;
  }
}
!*#############################################################################################################*!*/

