.buttom-list {
    width: 30px;
    height: 30px;
}

.icon-list {
    font-size: 20px;
    margin-top: -8px;
}

.sombra-buttoms {
    box-shadow: 0 14px 26px -12px rgba(119, 136, 153, 0.38), 0 4px 23px 0 rgba(119, 136, 153, 0.42), 0 8px 10px -5px rgba(119, 136, 153, 0.45) !important;
}

.btn-cicle-sheet {
    border-radius: 100%;
}

.vertical-center {
    vertical-align: middle !important;
}

@media screen and (max-width: 1024px) {
    a {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    a {
        width: 40%;
        height: 40%;
    }

    table {
        padding: 0.3rem;
    }

    table tr th {
        font-size: 70%;
    }

    table tbody tr td .responsive-text {
        font-size: 70%;
    }

    .responsive-text {
        font-size: 70%;
    }

}
