.no-border {
    text-align: center;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}