<app-loading *ngIf="loading"></app-loading>
<section id="view-section" class="body" aria-hidden="true">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center font-weight-bold">ESPECIFICACIONES</h4>
            <h6 class="card-subtitle mb-5 text-muted text-center">ID FICHA :
                {{this.technicalDataSheetCurrent.id}}</h6>

            <div class="row mt-4 text-justify">
                <div class="col-md-6">
                    <p class="card-text"><b>Código ítem CFIP:
                        </b>{{this.technicalDataSheetCurrent.idItem}}</p>
                </div>
                <div class="col-md-6">
                    <p class="card-text"><b>Código ítem Cliente:
                        </b>{{this.technicalDataSheetCurrent.idItemCustomer}}</p>
                </div>
                <div class="col-md-6">
                    <p class="card-text"><b>Descripción ítem:
                        </b>{{this.technicalDataSheetCurrent.itemDescription}}</p>
                </div>
                <div class="col-md-6">
                    <p class="card-text"><b>Nit cliente:
                        </b>{{this.technicalDataSheetCurrent.idCompany}}</p>
                </div>
                <div class="col-md-6">
                    <p class="card-text"><b>Razón social cliente:
                        </b>{{this.technicalDataSheetCurrent.companyName}}</p>
                </div>
                <div class="col-md-6">
                    <p class="card-text"><b>Categoria:
                        </b>{{this.technicalDataSheetCurrent.productCategory.description.toUpperCase()}}</p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.gender">
                    <p class="card-text">
                        <b>Genero: </b>{{this.technicalDataSheetCurrent.gender}}
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="card-text" *ngIf="this.technicalDataSheetCurrent.mainFabric">
                        <b>Tela principal: </b>{{this.technicalDataSheetCurrent.mainFabric}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.contrastFabric">
                    <p class="card-text">
                        <b>Tela contraste: </b>{{this.technicalDataSheetCurrent.contrastFabric}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.waistband">
                    <p class="card-text">
                        <b>Pretina: </b>{{this.technicalDataSheetCurrent.waistband}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.button">
                    <p class="card-text">
                        <b>Boton: </b>{{this.technicalDataSheetCurrent.button}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.zipper">
                    <p class="card-text">
                        <b>Cierre: </b>{{this.technicalDataSheetCurrent.zipper}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.figured">
                    <p class="card-text">
                        <b>Figurado: </b>{{this.technicalDataSheetCurrent.figured}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.pins">
                    <p class="card-text">
                        <b>Pasadores: </b>{{this.technicalDataSheetCurrent.pins}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.sidePulls">
                    <p class="card-text">
                        <b>Tiros: </b>{{this.technicalDataSheetCurrent.sidePulls}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.purses">
                    <p class="card-text">
                        <b>Carteras: </b>{{this.technicalDataSheetCurrent.purses}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.shoulderUnion">
                    <p class="card-text">
                        <b>Union de los hombros:
                        </b>{{this.technicalDataSheetCurrent.shoulderUnion}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.lining">
                    <p class="card-text">
                        <b>Forro: </b>{{this.technicalDataSheetCurrent.lining}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.shirtCollar">
                    <p class="card-text">
                        <b>Cuello: </b>{{this.technicalDataSheetCurrent.shirtCollar}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.cuffs">
                    <p class="card-text">
                        <b>Puños: </b>{{this.technicalDataSheetCurrent.cuffs}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.pockets">
                    <p class="card-text">
                        <b>Bolsillos: </b>{{this.technicalDataSheetCurrent.pockets}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.busybody">
                    <p class="card-text">
                        <b>Cotilla: </b>{{this.technicalDataSheetCurrent.busybody}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.sleeves">
                    <p class="card-text">
                        <b>Mangas: </b>{{this.technicalDataSheetCurrent.sleeves}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.back">
                    <p class="card-text">
                        <b>Espalda: </b>{{this.technicalDataSheetCurrent.back}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.shoulders">
                    <p class="card-text">
                        <b>Hombros: </b>{{this.technicalDataSheetCurrent.shoulders}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.sleeveConnection">
                    <p class="card-text">
                        <b>Union de las Mangas:
                        </b>{{this.technicalDataSheetCurrent.sleeveConnection}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.frontAdjustment">
                    <p class="card-text">
                        <b>Ajuste del frente:
                        </b>{{this.technicalDataSheetCurrent.frontAdjustment}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.neckline">
                    <p class="card-text">
                        <b>Escote: </b>{{this.technicalDataSheetCurrent.neckline}}
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="card-text" *ngIf="this.technicalDataSheetCurrent.finished">
                        <b>Terminado: </b>{{this.technicalDataSheetCurrent.finished}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.darts">
                    <p class="card-text">
                        <b>Pinzas: </b>{{this.technicalDataSheetCurrent.darts}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.opening">
                    <p class="card-text">
                        <b>Aberturas: </b>{{this.technicalDataSheetCurrent.opening}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.straps">
                    <p class="card-text">
                        <b>Tiras: </b>{{this.technicalDataSheetCurrent.straps}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.cuts">
                    <p class="card-text">
                        <b>Cortes: </b>{{this.technicalDataSheetCurrent.cuts}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.closedSides">
                    <p class="card-text">
                        <b>Cerrado de los Costados:
                        </b>{{this.technicalDataSheetCurrent.closedSides}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.hem">
                    <p class="card-text">
                        <b>Dobladillo: </b>{{this.technicalDataSheetCurrent.hem}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.hood">
                    <p class="card-text">
                        <b>Capucha: </b>{{this.technicalDataSheetCurrent.hood}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.crotch">
                    <p class="card-text">
                        <b>Entrepierna: </b>{{this.technicalDataSheetCurrent.crotch}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.reflective">
                    <p class="card-text">
                        <b>Reflectivo: </b>{{this.technicalDataSheetCurrent.reflective}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.boot">
                    <p class="card-text">
                        <b>Bota: </b>{{this.technicalDataSheetCurrent.boot}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.additional">
                    <p class="card-text">
                        <b>Adicionales: </b>{{this.technicalDataSheetCurrent.additional}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.composition">
                    <p class="card-text">
                        <b>Marquilla: </b>{{this.technicalDataSheetCurrent.composition}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.buttonhole">
                    <p class="card-text">
                        <b>Ojal: </b>{{this.technicalDataSheetCurrent.buttonhole}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.loops">
                    <p class="card-text">
                        <b>Presillas: </b>{{this.technicalDataSheetCurrent.loops}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.stitches">
                    <p class="card-text">
                        <b>Puntadas: </b>{{this.technicalDataSheetCurrent.stitches}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.prewash">
                    <p class="card-text">
                        <b>Prelavado: </b>{{this.technicalDataSheetCurrent.prewash}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.embroidery">
                    <p class="card-text">
                        <b>Descripción bordado:
                        </b>{{this.technicalDataSheetCurrent.embroidery}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.stamped">
                    <p class="card-text">
                        <b>Descripción del estampado:
                        </b>{{this.technicalDataSheetCurrent.stamped}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.ironing">
                    <p class="card-text">
                        <b>Planchado:
                        </b>{{this.technicalDataSheetCurrent.ironing}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.packaging">
                    <p class="card-text">
                        <b>Descripcion del empaque:
                        </b>{{this.technicalDataSheetCurrent.packaging}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.stitching">
                    <p class="card-text">
                        <b>Pespuntes: </b>{{this.technicalDataSheetCurrent.stitching}}
                    </p>
                </div>
                <div class="col-md-6" *ngIf="this.technicalDataSheetCurrent.criticalPoints">
                    <p class="card-text">
                        <b>Puntos Criticos:
                        </b>{{this.technicalDataSheetCurrent.criticalPoints}}
                    </p>
                </div>
                <div class="col-md-12" *ngIf="this.technicalDataSheetCurrent.customerDescription">
                    <p class="card-text">
                        <b>Descripcion cliente:
                        </b>{{this.technicalDataSheetCurrent.customerDescription}}
                    </p>
                </div>
                <div class="col-md-12" *ngIf="this.technicalDataSheetCurrent.customerDescription">
                    <p class="card-text">
                        <b>Estado:
                        </b>
                        <span class="badge badge-danger small"
                            *ngIf="this.technicalDataSheetCurrent.status == 'PRIMERA REVISION'">{{this.technicalDataSheetCurrent.status}}
                        </span>
                        <span class="badge badge-warning small"
                            *ngIf="this.technicalDataSheetCurrent.status == 'SEGUNDA REVISION'">{{this.technicalDataSheetCurrent.status}}
                        </span>
                        <span class="badge badge-info small"
                            *ngIf="this.technicalDataSheetCurrent.status == 'DESARROLLO'">{{this.technicalDataSheetCurrent.status}}
                        </span>
                        <span class="badge badge-success small"
                            *ngIf="this.technicalDataSheetCurrent.status == 'TERMINADO'">{{this.technicalDataSheetCurrent.status}}
                        </span>
                        <span class="badge bg-dark small"
                            *ngIf="this.technicalDataSheetCurrent.status == 'CALIDAD'">{{this.technicalDataSheetCurrent.status}}
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" >
                <div class="form-group row"
                *ngIf="authService.hasRole('Administrador del sistema') || 
                        authService.hasRole('Creacion de fichas tecnica') ||
                        authService.hasRole('Aprobacion ficha tecnica (primera revision)') ||
                        authService.hasRole('Aprobacion ficha tecnica (Segunda revision)')">
                    <label class="control-label text-right col-md-3">Descripción aprobación:</label>
                    <div class="col-md-8">
                        <textarea type="text" rows="5" class="form-control" placeholder=""
                            [disabled]="this.technicalDataSheetCurrent.status != 'TERMINADO' &&
                                        this.technicalDataSheetCurrent.status != 'PRIMERA REVISION' && 
                                        this.technicalDataSheetCurrent.status != 'SEGUNDA REVISION'"
                            [(ngModel)]="this.technicalDataSheetCurrent.editComments"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="this.technicalDataSheetCurrent.status != 'PRIMERA REVISION' && 
                                        this.technicalDataSheetCurrent.status != 'SEGUNDA REVISION' &&
                                        this.technicalDataSheetCurrent.status != 'TERMINADO'">
                <div class="form-group row">
                    <label class="control-label text-right col-md-3">Descripción revisión de calidad:</label>
                    <div class="col-md-8">
                        <textarea type="text" rows="5" class="form-control" placeholder=""
                            [disabled]="this.technicalDataSheetCurrent.status != 'CALIDAD'"
                            [(ngModel)]="this.technicalDataSheetCurrent.qaComments"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <button class="btn btn-danger btn-rounded float-left " role="button"
                    (click)="disapproveTechnicalSheet()"
                    *ngIf="this.technicalDataSheetCurrent.status != 'TERMINADO'">
                    No aprobar
                </button>
                <button class="btn btn-success btn-rounded float-right " role="button"
                    (click)="approveTechnicalSheet()"
                    *ngIf="this.technicalDataSheetCurrent.status != 'TERMINADO'">
                    Aprobar
                </button>
                <button class="btn btn-success btn-rounded float-right " role="button"
                    (click)="approveTechnicalSheet()"
                    *ngIf="this.technicalDataSheetCurrent.status == 'TERMINADO' && 
                    authService.hasRole('Administrador del sistema') || 
                    authService.hasRole('Creacion de fichas tecnica')">
                    Solicitar edición
                </button>
            </div>
        </div>
    </div>

    <hr>

    <div class="card-body">
        <h4><i class="fa fa-paperclip m-r-10 m-b-10"></i> MEDIDAS BÁSICAS </h4>
        <div class="col-md-12">
            <table class="table table-striped thead-dark" [innerHTML]="this.technicalDataSheetCurrent.measurementTable">
            </table>
        </div>
    </div>

    <hr>

    <div class="card-body">
        <h4><i class="fa fa-paperclip m-r-10 m-b-10"></i> IMÁGENES DEL PRODUCTO </h4>
        <div class="row">
            <div class="col-md-4" *ngIf="technicalDataSheetCurrent.productImage1">
                <div style="position: relative; height: 352px; overflow: hidden;">
                <ngx-panzoom 
                [zoomLevels]="panzoomConfig.zoomLevels"
                [scalePerZoomLevel]="panzoomConfig.scalePerZoomLevel"
                [zoomStepDuration]="panzoomConfig.zoomStepDuration"
                [freeMouseWheel]="panzoomConfig.freeMouseWheel">
                    <img class="img-thumbnail img-responsive"
                         [src]="technicalDataSheetCurrent.productImage1"
                         width="200px" />
                </ngx-panzoom>
                </div>
            </div>
            <div class="col-md-4" *ngIf="technicalDataSheetCurrent.productImage2">
                <div style="position: relative; height: 352px; overflow: hidden;">
                <ngx-panzoom 
                [zoomLevels]="panzoomConfig.zoomLevels"
                [scalePerZoomLevel]="panzoomConfig.scalePerZoomLevel"
                [zoomStepDuration]="panzoomConfig.zoomStepDuration"
                [freeMouseWheel]="panzoomConfig.freeMouseWheel">
                    <img class="img-thumbnail img-responsive"
                         [src]="technicalDataSheetCurrent.productImage2"
                         width="200px" />
                </ngx-panzoom>
                </div>
            </div>
        </div>
    </div>      

    <hr>

    <div class="card-body">
        <h4><i class="fa fa-paperclip m-r-10 m-b-10"></i> IMAGENES DE CARACTERÍSTICAS DEL PRODUCTO </h4>
        <div class="row">
            <div class="col-md-4" *ngIf="technicalDataSheetCurrent.characteristicImage1">
                <div style="position: relative; height: 352px; overflow: hidden;">
                    <ngx-panzoom 
                    [zoomLevels]="panzoomConfig.zoomLevels"
                    [scalePerZoomLevel]="panzoomConfig.scalePerZoomLevel"
                    [zoomStepDuration]="panzoomConfig.zoomStepDuration"
                    [freeMouseWheel]="panzoomConfig.freeMouseWheel">
                    <img class="img-thumbnail img-responsive" 
                    [src]="technicalDataSheetCurrent.characteristicImage1" 
                    alt="Image 1 description">
                    </ngx-panzoom>
                </div>
            </div>
            <div class="col-md-4" *ngIf="technicalDataSheetCurrent.characteristicImage2">
                <div style="position: relative; height: 352px; overflow: hidden;">
                    <ngx-panzoom 
                    [zoomLevels]="panzoomConfig.zoomLevels"
                    [scalePerZoomLevel]="panzoomConfig.scalePerZoomLevel"
                    [zoomStepDuration]="panzoomConfig.zoomStepDuration"
                    [freeMouseWheel]="panzoomConfig.freeMouseWheel">
                    <img class="img-thumbnail img-responsive" 
                    [src]="technicalDataSheetCurrent.characteristicImage2" 
                    alt="Image 2 description">
                    </ngx-panzoom>
                </div>
            </div>
            <div class="col-md-4" *ngIf="technicalDataSheetCurrent.characteristicImage3">
                <div style="position: relative; height: 352px; overflow: hidden;">
                    <ngx-panzoom 
                    [zoomLevels]="panzoomConfig.zoomLevels"
                    [scalePerZoomLevel]="panzoomConfig.scalePerZoomLevel"
                    [zoomStepDuration]="panzoomConfig.zoomStepDuration"
                    [freeMouseWheel]="panzoomConfig.freeMouseWheel">
                    <img class="img-thumbnail img-responsive" 
                            [src]="technicalDataSheetCurrent.characteristicImage3" 
                            alt="Image 3 description">
                    </ngx-panzoom>
                </div>
            </div>
            <div class="col-md-4" *ngIf="technicalDataSheetCurrent.characteristicImage4">
                <div style="position: relative; height: 352px; overflow: hidden;">
                    <ngx-panzoom 
                    [zoomLevels]="panzoomConfig.zoomLevels"
                    [scalePerZoomLevel]="panzoomConfig.scalePerZoomLevel"
                    [zoomStepDuration]="panzoomConfig.zoomStepDuration"
                    [freeMouseWheel]="panzoomConfig.freeMouseWheel">
                        <img class="img-thumbnail img-responsive" 
                            [src]="technicalDataSheetCurrent.characteristicImage4" 
                            alt="Image 4 description">
                    </ngx-panzoom>
                </div>
            </div>
        </div>                            
    </div>

</section>