.zoomA {
    width: 1500px;
    height: auto;
    /* ease | ease-in | ease-out | linear */
    transition: transform ease-in-out 0.3s;
}

.zoomA:hover {
    transform: scale(5);
}

/* Estilos para el contenedor de imágenes */
.img-zoom-container {
    height: 352px;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para las imágenes */
  .img-zoom-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: zoom-in;
    transition: transform 0.2s ease;
  }
  
  /* Estilo cuando está ampliado */
  .img-zoom-container img.zoomed {
    cursor: zoom-out;
  }

  .pan-element {
    position: relative;  /* En lugar de absolute */
    left: initial;  /* Resetea left */
    top: initial;   /* Resetea top */
}

